.masthead{
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.1) 100%), url("https://user-images.githubusercontent.com/40196155/51014772-56683300-15a4-11e9-8934-f8e4b9f09ad1.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.icp-block{
    text-align: center;
}
.icp, .name{
    color: #333;
    font-size: 12px;
    display: inline;
}
.icp{
    padding-right: 40px;
}
